.pa-xs-0 {
	padding: 0px;
}
.pt-xs-0 {
	padding-top: 0px;
}
.pr-xs-0{
	padding-right: 0px;
}
.pb-xs-0{
	padding-bottom: 0px;
}
.pl-xs-0{
	padding-left: 0px;
}
.px-xs-0{
	padding-right: 0px;
	padding-left: 0px;
}
.py-xs-0{
	padding-top: 0px;
	padding-bottom: 0px;
}
.pa-xs-5 {
	padding: 5px;
}
.pt-xs-5{
	padding-top: 5px;
}
.pr-xs-5{
	padding-right: 5px;
}
.pb-xs-5{
	padding-bottom: 5px;
}
.pl-xs-5{
	padding-left: 5px;
}
.px-xs-5{
	padding-right: 5px;
	padding-left: 5px;
}
.py-xs-5{
	padding-top: 5px;
	padding-bottom: 5px;
}
.pa-xs-10 {
	padding: 10px;
}
.pt-xs-10{
	padding-top: 10px;
}
.pr-xs-10{
	padding-right: 10px;
}
.pb-xs-10{
	padding-bottom: 10px;
}
.pl-xs-10{
	padding-left: 10px;
}
.px-xs-10{
	padding-right: 10px;
	padding-left: 10px;
}
.py-xs-10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.pa-xs-15 {
	padding: 15px;
}
.pt-xs-15{
	padding-top: 15px;
}
.pr-xs-15{
	padding-right: 15px;
}
.pb-xs-15{
	padding-bottom: 15px;
}
.pl-xs-15{
	padding-left: 15px;
}
.px-xs-15{
	padding-right: 15px;
	padding-left: 15px;
}
.py-xs-15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.pa-xs-20 {
	padding: 20px;
}
.pt-xs-20{
	padding-top: 20px;
}
.pr-xs-20{
	padding-right: 20px;
}
.pb-xs-20{
	padding-bottom: 20px;
}
.pl-xs-20{
	padding-left: 20px;
}
.px-xs-20{
	padding-right: 20px;
	padding-left: 20px;
}
.py-xs-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pa-xs-25 {
	padding: 25px;
}
.pt-xs-25{
	padding-top: 25px;
}
.pr-xs-25{
	padding-right: 25px;
}
.pb-xs-25{
	padding-bottom: 25px;
}
.pl-xs-25{
	padding-left: 25px;
}
.px-xs-25{
	padding-right: 25px;
	padding-left: 25px;
}
.py-xs-25{
	padding-top: 25px;
	padding-bottom: 25px;
}
.pa-xs-30 {
	padding: 30px;
}
.pt-xs-30{
	padding-top: 30px;
}
.pr-xs-30{
	padding-right: 30px;
}
.pb-xs-30{
	padding-bottom: 30px;
}
.pl-xs-30{
	padding-left: 30px;
}
.px-xs-30{
	padding-right: 30px;
	padding-left: 30px;
}
.py-xs-30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pa-xs-35 {
	padding: 35px;
}
.pt-xs-35{
	padding-top: 35px;
}
.pr-xs-35{
	padding-right: 35px;
}
.pb-xs-35{
	padding-bottom: 35px;
}
.pl-xs-35{
	padding-left: 35px;
}
.px-xs-35{
	padding-right: 35px;
	padding-left: 35px;
}
.py-xs-35{
	padding-top: 35px;
	padding-bottom: 35px;
}
.pa-xs-40 {
	padding: 40px;
}
.pt-xs-40{
	padding-top: 40px;
}
.pr-xs-40{
	padding-right: 40px;
}
.pb-xs-40{
	padding-bottom: 40px;
}
.pl-xs-40{
	padding-left: 40px;
}
.px-xs-40{
	padding-right: 40px;
	padding-left: 40px;
}
.py-xs-40{
	padding-top: 40px;
	padding-bottom: 40px;
}
.pa-xs-45 {
	padding: 45px;
}
.pt-xs-45{
	padding-top: 45px;
}
.pr-xs-45{
	padding-right: 45px;
}
.pb-xs-45{
	padding-bottom: 45px;
}
.pl-xs-45{
	padding-left: 45px;
}
.px-xs-45{
	padding-right: 45px;
	padding-left: 45px;
}
.py-xs-45{
	padding-top: 45px;
	padding-bottom: 45px;
}
.pa-xs-50 {
	padding: 50px;
}
.pt-xs-50{
	padding-top: 50px;
}
.pr-xs-50{
	padding-right: 50px;
}
.pb-xs-50{
	padding-bottom: 50px;
}
.pl-xs-50{
	padding-left: 50px;
}
.px-xs-50{
	padding-right: 50px;
	padding-left: 50px;
}
.py-xs-50{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pa-xs-55 {
	padding: 55px;
}
.pt-xs-55{
	padding-top: 55px;
}
.pr-xs-55{
	padding-right: 55px;
}
.pb-xs-55{
	padding-bottom: 55px;
}
.pl-xs-55{
	padding-left: 55px;
}
.px-xs-55{
	padding-right: 55px;
	padding-left: 55px;
}
.py-xs-55{
	padding-top: 55px;
	padding-bottom: 55px;
}
.pa-xs-60 {
	padding: 60px;
}
.pt-xs-60{
	padding-top: 60px;
}
.pr-xs-60{
	padding-right: 60px;
}
.pb-xs-60{
	padding-bottom: 60px;
}
.pl-xs-60{
	padding-left: 60px;
}
.px-xs-60{
	padding-right: 60px;
	padding-left: 60px;
}
.py-xs-60{
	padding-top: 60px;
	padding-bottom: 60px;
}
.ma-xs-0{
	margin: 0px;
}
.mt-xs-0{
	margin-top: 0px;
}
.mr-xs-0{
	margin-right: 0px;
}
.mb-xs-0{
	margin-bottom: 0px;
}
.ml-xs-0{
	margin-left: 0px;
}
.mx-xs-0{
	margin-right: 0px;
	margin-left: 0px;
}
.my-xs-0{
	margin-top: 0px;
	margin-bottom: 0px;
}
.ma-xs-5{
	margin: 5px;
}
.mt-xs-5{
	margin-top: 5px;
}
.mr-xs-5{
	margin-right: 5px;
}
.mb-xs-5{
	margin-bottom: 5px;
}
.ml-xs-5{
	margin-left: 5px;
}
.mx-xs-5{
	margin-right: 5px;
	margin-left: 5px;
}
.my-xs-5{
	margin-top: 5px;
	margin-bottom: 5px;
}
.ma-xs-10{
	margin: 10px;
}
.mt-xs-10{
	margin-top: 10px;
}
.mr-xs-10{
	margin-right: 10px;
}
.mb-xs-10{
	margin-bottom: 10px;
}
.ml-xs-10{
	margin-left: 10px;
}
.mx-xs-10{
	margin-right: 10px;
	margin-left: 10px;
}
.my-xs-10{
	margin-top: 10px;
	margin-bottom: 10px;
}
.ma-xs-15{
	margin: 15px;
}
.mt-xs-15{
	margin-top: 15px;
}
.mr-xs-15{
	margin-right: 15px;
}
.mb-xs-15{
	margin-bottom: 15px;
}
.ml-xs-15{
	margin-left: 15px;
}
.mx-xs-15{
	margin-right: 15px;
	margin-left: 15px;
}
.my-xs-15{
	margin-top: 15px;
	margin-bottom: 15px;
}
.ma-xs-20{
	margin: 20px;
}
.mt-xs-20{
	margin-top: 20px;
}
.mr-xs-20{
	margin-right: 20px;
}
.mb-xs-20{
	margin-bottom: 20px;
}
.ml-xs-20{
	margin-left: 20px;
}
.mx-xs-20{
	margin-right: 20px;
	margin-left: 20px;
}
.my-xs-20{
	margin-top: 20px;
	margin-bottom: 20px;
}
.ma-xs-25{
	margin: 25px;
}
.mt-xs-25{
	margin-top: 25px;
}
.mr-xs-25{
	margin-right: 25px;
}
.mb-xs-25{
	margin-bottom: 25px;
}
.ml-xs-25{
	margin-left: 25px;
}
.mx-xs-25{
	margin-right: 25px;
	margin-left: 25px;
}
.my-xs-25{
	margin-top: 25px;
	margin-bottom: 25px;
}
.ma-xs-30{
	margin: 30px;
}
.mt-xs-30{
	margin-top: 30px;
}
.mr-xs-30{
	margin-right: 30px;
}
.mb-xs-30{
	margin-bottom: 30px;
}
.ml-xs-30{
	margin-left: 30px;
}
.mx-xs-30{
	margin-right: 30px;
	margin-left: 30px;
}
.my-xs-30{
	margin-top: 30px;
	margin-bottom: 30px;
}
.ma-xs-35{
	margin: 35px;
}
.mt-xs-35{
	margin-top: 35px;
}
.mr-xs-35{
	margin-right: 35px;
}
.mb-xs-35{
	margin-bottom: 35px;
}
.ml-xs-35{
	margin-left: 35px;
}
.mx-xs-35{
	margin-right: 35px;
	margin-left: 35px;
}
.my-xs-35{
	margin-top: 35px;
	margin-bottom: 35px;
}
.ma-xs-40{
	margin: 40px;
}
.mt-xs-40{
	margin-top: 40px;
}
.mr-xs-40{
	margin-right: 40px;
}
.mb-xs-40{
	margin-bottom: 40px;
}
.ml-xs-40{
	margin-left: 40px;
}
.mx-xs-40{
	margin-right: 40px;
	margin-left: 40px;
}
.my-xs-40{
	margin-top: 40px;
	margin-bottom: 40px;
}
.ma-xs-45{
	margin: 45px;
}
.mt-xs-45{
	margin-top: 45px;
}
.mr-xs-45{
	margin-right: 45px;
}
.mb-xs-45{
	margin-bottom: 45px;
}
.ml-xs-45{
	margin-left: 45px;
}
.mx-xs-45{
	margin-right: 45px;
	margin-left: 45px;
}
.my-xs-45{
	margin-top: 45px;
	margin-bottom: 45px;
}
.ma-xs-50{
	margin: 50px;
}
.mt-xs-50{
	margin-top: 50px;
}
.mr-xs-50{
	margin-right: 50px;
}
.mb-xs-50{
	margin-bottom: 50px;
}
.ml-xs-50{
	margin-left: 50px;
}
.mx-xs-50{
	margin-right: 50px;
	margin-left: 50px;
}
.my-xs-50{
	margin-top: 50px;
	margin-bottom: 50px;
}
.ma-xs-55{
	margin: 55px;
}
.mt-xs-55{
	margin-top: 55px;
}
.mr-xs-55{
	margin-right: 55px;
}
.mb-xs-55{
	margin-bottom: 55px;
}
.ml-xs-55{
	margin-left: 55px;
}
.mx-xs-55{
	margin-right: 55px;
	margin-left: 55px;
}
.my-xs-55{
	margin-top: 55px;
	margin-bottom: 55px;
}
.ma-xs-60{
	margin: 60px;
}
.mt-xs-60{
	margin-top: 60px;
}
.mr-xs-60{
	margin-right: 60px;
}
.mb-xs-60{
	margin-bottom: 60px;
}
.ml-xs-60{
	margin-left: 60px;
}
.mx-xs-60{
	margin-right: 60px;
	margin-left: 60px;
}
.my-xs-60{
	margin-top: 60px;
	margin-bottom: 60px;
}
@media screen and (min-width: 768px){
/* Small */
.pa-sm-0 {
	padding: 0px;
}
.pt-sm-0 {
	padding-top: 0px;
}
.pr-sm-0{
	padding-right: 0px;
}
.pb-sm-0{
	padding-bottom: 0px;
}
.pl-sm-0{
	padding-left: 0px;
}
.px-sm-0{
	padding-right: 0px;
	padding-left: 0px;
}
.py-sm-0{
	padding-top: 0px;
	padding-bottom: 0px;
}
.pa-sm-5 {
	padding: 5px;
}
.pt-sm-5{
	padding-top: 5px;
}
.pr-sm-5{
	padding-right: 5px;
}
.pb-sm-5{
	padding-bottom: 5px;
}
.pl-sm-5{
	padding-left: 5px;
}
.px-sm-5{
	padding-right: 5px;
	padding-left: 5px;
}
.py-sm-5{
	padding-top: 5px;
	padding-bottom: 5px;
}
.pa-sm-10 {
	padding: 10px;
}
.pt-sm-10{
	padding-top: 10px;
}
.pr-sm-10{
	padding-right: 10px;
}
.pb-sm-10{
	padding-bottom: 10px;
}
.pl-sm-10{
	padding-left: 10px;
}
.px-sm-10{
	padding-right: 10px;
	padding-left: 10px;
}
.py-sm-10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.pa-sm-15 {
	padding: 15px;
}
.pt-sm-15{
	padding-top: 15px;
}
.pr-sm-15{
	padding-right: 15px;
}
.pb-sm-15{
	padding-bottom: 15px;
}
.pl-sm-15{
	padding-left: 15px;
}
.px-sm-15{
	padding-right: 15px;
	padding-left: 15px;
}
.py-sm-15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.pa-sm-20 {
	padding: 20px;
}
.pt-sm-20{
	padding-top: 20px;
}
.pr-sm-20{
	padding-right: 20px;
}
.pb-sm-20{
	padding-bottom: 20px;
}
.pl-sm-20{
	padding-left: 20px;
}
.px-sm-20{
	padding-right: 20px;
	padding-left: 20px;
}
.py-sm-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pa-sm-25 {
	padding: 25px;
}
.pt-sm-25{
	padding-top: 25px;
}
.pr-sm-25{
	padding-right: 25px;
}
.pb-sm-25{
	padding-bottom: 25px;
}
.pl-sm-25{
	padding-left: 25px;
}
.px-sm-25{
	padding-right: 25px;
	padding-left: 25px;
}
.py-sm-25{
	padding-top: 25px;
	padding-bottom: 25px;
}
.pa-sm-30 {
	padding: 30px;
}
.pt-sm-30{
	padding-top: 30px;
}
.pr-sm-30{
	padding-right: 30px;
}
.pb-sm-30{
	padding-bottom: 30px;
}
.pl-sm-30{
	padding-left: 30px;
}
.px-sm-30{
	padding-right: 30px;
	padding-left: 30px;
}
.py-sm-30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pa-sm-35 {
	padding: 35px;
}
.pt-sm-35{
	padding-top: 35px;
}
.pr-sm-35{
	padding-right: 35px;
}
.pb-sm-35{
	padding-bottom: 35px;
}
.pl-sm-35{
	padding-left: 35px;
}
.px-sm-35{
	padding-right: 35px;
	padding-left: 35px;
}
.py-sm-35{
	padding-top: 35px;
	padding-bottom: 35px;
}
.pa-sm-40 {
	padding: 40px;
}
.pt-sm-40{
	padding-top: 40px;
}
.pr-sm-40{
	padding-right: 40px;
}
.pb-sm-40{
	padding-bottom: 40px;
}
.pl-sm-40{
	padding-left: 40px;
}
.px-sm-40{
	padding-right: 40px;
	padding-left: 40px;
}
.py-sm-40{
	padding-top: 40px;
	padding-bottom: 40px;
}
.pa-sm-45 {
	padding: 45px;
}
.pt-sm-45{
	padding-top: 45px;
}
.pr-sm-45{
	padding-right: 45px;
}
.pb-sm-45{
	padding-bottom: 45px;
}
.pl-sm-45{
	padding-left: 45px;
}
.px-sm-45{
	padding-right: 45px;
	padding-left: 45px;
}
.py-sm-45{
	padding-top: 45px;
	padding-bottom: 45px;
}
.pa-sm-50 {
	padding: 50px;
}
.pt-sm-50{
	padding-top: 50px;
}
.pr-sm-50{
	padding-right: 50px;
}
.pb-sm-50{
	padding-bottom: 50px;
}
.pl-sm-50{
	padding-left: 50px;
}
.px-sm-50{
	padding-right: 50px;
	padding-left: 50px;
}
.py-sm-50{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pa-sm-55 {
	padding: 55px;
}
.pt-sm-55{
	padding-top: 55px;
}
.pr-sm-55{
	padding-right: 55px;
}
.pb-sm-55{
	padding-bottom: 55px;
}
.pl-sm-55{
	padding-left: 55px;
}
.px-sm-55{
	padding-right: 55px;
	padding-left: 55px;
}
.py-sm-55{
	padding-top: 55px;
	padding-bottom: 55px;
}
.pa-sm-60 {
	padding: 60px;
}
.pt-sm-60{
	padding-top: 60px;
}
.pr-sm-60{
	padding-right: 60px;
}
.pb-sm-60{
	padding-bottom: 60px;
}
.pl-sm-60{
	padding-left: 60px;
}
.px-sm-60{
	padding-right: 60px;
	padding-left: 60px;
}
.py-sm-60{
	padding-top: 60px;
	padding-bottom: 60px;
}
.ma-sm-0{
	margin: 0px;
}
.mt-sm-0{
	margin-top: 0px;
}
.mr-sm-0{
	margin-right: 0px;
}
.mb-sm-0{
	margin-bottom: 0px;
}
.ml-sm-0{
	margin-left: 0px;
}
.mx-sm-0{
	margin-right: 0px;
	margin-left: 0px;
}
.my-sm-0{
	margin-top: 0px;
	margin-bottom: 0px;
}
.ma-sm-5{
	margin: 5px;
}
.mt-sm-5{
	margin-top: 5px;
}
.mr-sm-5{
	margin-right: 5px;
}
.mb-sm-5{
	margin-bottom: 5px;
}
.ml-sm-5{
	margin-left: 5px;
}
.mx-sm-5{
	margin-right: 5px;
	margin-left: 5px;
}
.my-sm-5{
	margin-top: 5px;
	margin-bottom: 5px;
}
.ma-sm-10{
	margin: 10px;
}
.mt-sm-10{
	margin-top: 10px;
}
.mr-sm-10{
	margin-right: 10px;
}
.mb-sm-10{
	margin-bottom: 10px;
}
.ml-sm-10{
	margin-left: 10px;
}
.mx-sm-10{
	margin-right: 10px;
	margin-left: 10px;
}
.my-sm-10{
	margin-top: 10px;
	margin-bottom: 10px;
}
.ma-sm-15{
	margin: 15px;
}
.mt-sm-15{
	margin-top: 15px;
}
.mr-sm-15{
	margin-right: 15px;
}
.mb-sm-15{
	margin-bottom: 15px;
}
.ml-sm-15{
	margin-left: 15px;
}
.mx-sm-15{
	margin-right: 15px;
	margin-left: 15px;
}
.my-sm-15{
	margin-top: 15px;
	margin-bottom: 15px;
}
.ma-sm-20{
	margin: 20px;
}
.mt-sm-20{
	margin-top: 20px;
}
.mr-sm-20{
	margin-right: 20px;
}
.mb-sm-20{
	margin-bottom: 20px;
}
.ml-sm-20{
	margin-left: 20px;
}
.mx-sm-20{
	margin-right: 20px;
	margin-left: 20px;
}
.my-sm-20{
	margin-top: 20px;
	margin-bottom: 20px;
}
.ma-sm-25{
	margin: 25px;
}
.mt-sm-25{
	margin-top: 25px;
}
.mr-sm-25{
	margin-right: 25px;
}
.mb-sm-25{
	margin-bottom: 25px;
}
.ml-sm-25{
	margin-left: 25px;
}
.mx-sm-25{
	margin-right: 25px;
	margin-left: 25px;
}
.my-sm-25{
	margin-top: 25px;
	margin-bottom: 25px;
}
.ma-sm-30{
	margin: 30px;
}
.mt-sm-30{
	margin-top: 30px;
}
.mr-sm-30{
	margin-right: 30px;
}
.mb-sm-30{
	margin-bottom: 30px;
}
.ml-sm-30{
	margin-left: 30px;
}
.mx-sm-30{
	margin-right: 30px;
	margin-left: 30px;
}
.my-sm-30{
	margin-top: 30px;
	margin-bottom: 30px;
}
.ma-sm-35{
	margin: 35px;
}
.mt-sm-35{
	margin-top: 35px;
}
.mr-sm-35{
	margin-right: 35px;
}
.mb-sm-35{
	margin-bottom: 35px;
}
.ml-sm-35{
	margin-left: 35px;
}
.mx-sm-35{
	margin-right: 35px;
	margin-left: 35px;
}
.my-sm-35{
	margin-top: 35px;
	margin-bottom: 35px;
}
.ma-sm-40{
	margin: 40px;
}
.mt-sm-40{
	margin-top: 40px;
}
.mr-sm-40{
	margin-right: 40px;
}
.mb-sm-40{
	margin-bottom: 40px;
}
.ml-sm-40{
	margin-left: 40px;
}
.mx-sm-40{
	margin-right: 40px;
	margin-left: 40px;
}
.my-sm-40{
	margin-top: 40px;
	margin-bottom: 40px;
}
.ma-sm-45{
	margin: 45px;
}
.mt-sm-45{
	margin-top: 45px;
}
.mr-sm-45{
	margin-right: 45px;
}
.mb-sm-45{
	margin-bottom: 45px;
}
.ml-sm-45{
	margin-left: 45px;
}
.mx-sm-45{
	margin-right: 45px;
	margin-left: 45px;
}
.my-sm-45{
	margin-top: 45px;
	margin-bottom: 45px;
}
.ma-sm-50{
	margin: 50px;
}
.mt-sm-50{
	margin-top: 50px;
}
.mr-sm-50{
	margin-right: 50px;
}
.mb-sm-50{
	margin-bottom: 50px;
}
.ml-sm-50{
	margin-left: 50px;
}
.mx-sm-50{
	margin-right: 50px;
	margin-left: 50px;
}
.my-sm-50{
	margin-top: 50px;
	margin-bottom: 50px;
}
.ma-sm-55{
	margin: 55px;
}
.mt-sm-55{
	margin-top: 55px;
}
.mr-sm-55{
	margin-right: 55px;
}
.mb-sm-55{
	margin-bottom: 55px;
}
.ml-sm-55{
	margin-left: 55px;
}
.mx-sm-55{
	margin-right: 55px;
	margin-left: 55px;
}
.my-sm-55{
	margin-top: 55px;
	margin-bottom: 55px;
}
.ma-sm-60{
	margin: 60px;
}
.mt-sm-60{
	margin-top: 60px;
}
.mr-sm-60{
	margin-right: 60px;
}
.mb-sm-60{
	margin-bottom: 60px;
}
.ml-sm-60{
	margin-left: 60px;
}
.mx-sm-60{
	margin-right: 60px;
	margin-left: 60px;
}
.my-sm-60{
	margin-top: 60px;
	margin-bottom: 60px;
}
}
@media screen and (min-width: 992px){
/* Medium */
.pa-md-0 {
	padding: 0px;
}
.pt-md-0 {
	padding-top: 0px;
}
.pr-md-0{
	padding-right: 0px;
}
.pb-md-0{
	padding-bottom: 0px;
}
.pl-md-0{
	padding-left: 0px;
}
.px-md-0{
	padding-right: 0px;
	padding-left: 0px;
}
.py-md-0{
	padding-top: 0px;
	padding-bottom: 0px;
}
.pa-md-5 {
	padding: 5px;
}
.pt-md-5{
	padding-top: 5px;
}
.pr-md-5{
	padding-right: 5px;
}
.pb-md-5{
	padding-bottom: 5px;
}
.pl-md-5{
	padding-left: 5px;
}
.px-md-5{
	padding-right: 5px;
	padding-left: 5px;
}
.py-md-5{
	padding-top: 5px;
	padding-bottom: 5px;
}
.pa-md-10 {
	padding: 10px;
}
.pt-md-10{
	padding-top: 10px;
}
.pr-md-10{
	padding-right: 10px;
}
.pb-md-10{
	padding-bottom: 10px;
}
.pl-md-10{
	padding-left: 10px;
}
.px-md-10{
	padding-right: 10px;
	padding-left: 10px;
}
.py-md-10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.pa-md-15 {
	padding: 15px;
}
.pt-md-15{
	padding-top: 15px;
}
.pr-md-15{
	padding-right: 15px;
}
.pb-md-15{
	padding-bottom: 15px;
}
.pl-md-15{
	padding-left: 15px;
}
.px-md-15{
	padding-right: 15px;
	padding-left: 15px;
}
.py-md-15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.pa-md-20 {
	padding: 20px;
}
.pt-md-20{
	padding-top: 20px;
}
.pr-md-20{
	padding-right: 20px;
}
.pb-md-20{
	padding-bottom: 20px;
}
.pl-md-20{
	padding-left: 20px;
}
.px-md-20{
	padding-right: 20px;
	padding-left: 20px;
}
.py-md-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pa-md-25 {
	padding: 25px;
}
.pt-md-25{
	padding-top: 25px;
}
.pr-md-25{
	padding-right: 25px;
}
.pb-md-25{
	padding-bottom: 25px;
}
.pl-md-25{
	padding-left: 25px;
}
.px-md-25{
	padding-right: 25px;
	padding-left: 25px;
}
.py-md-25{
	padding-top: 25px;
	padding-bottom: 25px;
}
.pa-md-30 {
	padding: 30px;
}
.pt-md-30{
	padding-top: 30px;
}
.pr-md-30{
	padding-right: 30px;
}
.pb-md-30{
	padding-bottom: 30px;
}
.pl-md-30{
	padding-left: 30px;
}
.px-md-30{
	padding-right: 30px;
	padding-left: 30px;
}
.py-md-30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pa-md-35 {
	padding: 35px;
}
.pt-md-35{
	padding-top: 35px;
}
.pr-md-35{
	padding-right: 35px;
}
.pb-md-35{
	padding-bottom: 35px;
}
.pl-md-35{
	padding-left: 35px;
}
.px-md-35{
	padding-right: 35px;
	padding-left: 35px;
}
.py-md-35{
	padding-top: 35px;
	padding-bottom: 35px;
}
.pa-md-40 {
	padding: 40px;
}
.pt-md-40{
	padding-top: 40px;
}
.pr-md-40{
	padding-right: 40px;
}
.pb-md-40{
	padding-bottom: 40px;
}
.pl-md-40{
	padding-left: 40px;
}
.px-md-40{
	padding-right: 40px;
	padding-left: 40px;
}
.py-md-40{
	padding-top: 40px;
	padding-bottom: 40px;
}
.pa-md-45 {
	padding: 45px;
}
.pt-md-45{
	padding-top: 45px;
}
.pr-md-45{
	padding-right: 45px;
}
.pb-md-45{
	padding-bottom: 45px;
}
.pl-md-45{
	padding-left: 45px;
}
.px-md-45{
	padding-right: 45px;
	padding-left: 45px;
}
.py-md-45{
	padding-top: 45px;
	padding-bottom: 45px;
}
.pa-md-50 {
	padding: 50px;
}
.pt-md-50{
	padding-top: 50px;
}
.pr-md-50{
	padding-right: 50px;
}
.pb-md-50{
	padding-bottom: 50px;
}
.pl-md-50{
	padding-left: 50px;
}
.px-md-50{
	padding-right: 50px;
	padding-left: 50px;
}
.py-md-50{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pa-md-55 {
	padding: 55px;
}
.pt-md-55{
	padding-top: 55px;
}
.pr-md-55{
	padding-right: 55px;
}
.pb-md-55{
	padding-bottom: 55px;
}
.pl-md-55{
	padding-left: 55px;
}
.px-md-55{
	padding-right: 55px;
	padding-left: 55px;
}
.py-md-55{
	padding-top: 55px;
	padding-bottom: 55px;
}
.pa-md-60 {
	padding: 60px;
}
.pt-md-60{
	padding-top: 60px;
}
.pr-md-60{
	padding-right: 60px;
}
.pb-md-60{
	padding-bottom: 60px;
}
.pl-md-60{
	padding-left: 60px;
}
.px-md-60{
	padding-right: 60px;
	padding-left: 60px;
}
.py-md-60{
	padding-top: 60px;
	padding-bottom: 60px;
}
.ma-md-0{
	margin: 0px;
}
.mt-md-0{
	margin-top: 0px;
}
.mr-md-0{
	margin-right: 0px;
}
.mb-md-0{
	margin-bottom: 0px;
}
.ml-md-0{
	margin-left: 0px;
}
.mx-md-0{
	margin-right: 0px;
	margin-left: 0px;
}
.my-md-0{
	margin-top: 0px;
	margin-bottom: 0px;
}
.ma-md-5{
	margin: 5px;
}
.mt-md-5{
	margin-top: 5px;
}
.mr-md-5{
	margin-right: 5px;
}
.mb-md-5{
	margin-bottom: 5px;
}
.ml-md-5{
	margin-left: 5px;
}
.mx-md-5{
	margin-right: 5px;
	margin-left: 5px;
}
.my-md-5{
	margin-top: 5px;
	margin-bottom: 5px;
}
.ma-md-10{
	margin: 10px;
}
.mt-md-10{
	margin-top: 10px;
}
.mr-md-10{
	margin-right: 10px;
}
.mb-md-10{
	margin-bottom: 10px;
}
.ml-md-10{
	margin-left: 10px;
}
.mx-md-10{
	margin-right: 10px;
	margin-left: 10px;
}
.my-md-10{
	margin-top: 10px;
	margin-bottom: 10px;
}
.ma-md-15{
	margin: 15px;
}
.mt-md-15{
	margin-top: 15px;
}
.mr-md-15{
	margin-right: 15px;
}
.mb-md-15{
	margin-bottom: 15px;
}
.ml-md-15{
	margin-left: 15px;
}
.mx-md-15{
	margin-right: 15px;
	margin-left: 15px;
}
.my-md-15{
	margin-top: 15px;
	margin-bottom: 15px;
}
.ma-md-20{
	margin: 20px;
}
.mt-md-20{
	margin-top: 20px;
}
.mr-md-20{
	margin-right: 20px;
}
.mb-md-20{
	margin-bottom: 20px;
}
.ml-md-20{
	margin-left: 20px;
}
.mx-md-20{
	margin-right: 20px;
	margin-left: 20px;
}
.my-md-20{
	margin-top: 20px;
	margin-bottom: 20px;
}
.ma-md-25{
	margin: 25px;
}
.mt-md-25{
	margin-top: 25px;
}
.mr-md-25{
	margin-right: 25px;
}
.mb-md-25{
	margin-bottom: 25px;
}
.ml-md-25{
	margin-left: 25px;
}
.mx-md-25{
	margin-right: 25px;
	margin-left: 25px;
}
.my-md-25{
	margin-top: 25px;
	margin-bottom: 25px;
}
.ma-md-30{
	margin: 30px;
}
.mt-md-30{
	margin-top: 30px;
}
.mr-md-30{
	margin-right: 30px;
}
.mb-md-30{
	margin-bottom: 30px;
}
.ml-md-30{
	margin-left: 30px;
}
.mx-md-30{
	margin-right: 30px;
	margin-left: 30px;
}
.my-md-30{
	margin-top: 30px;
	margin-bottom: 30px;
}
.ma-md-35{
	margin: 35px;
}
.mt-md-35{
	margin-top: 35px;
}
.mr-md-35{
	margin-right: 35px;
}
.mb-md-35{
	margin-bottom: 35px;
}
.ml-md-35{
	margin-left: 35px;
}
.mx-md-35{
	margin-right: 35px;
	margin-left: 35px;
}
.my-md-35{
	margin-top: 35px;
	margin-bottom: 35px;
}
.ma-md-40{
	margin: 40px;
}
.mt-md-40{
	margin-top: 40px;
}
.mr-md-40{
	margin-right: 40px;
}
.mb-md-40{
	margin-bottom: 40px;
}
.ml-md-40{
	margin-left: 40px;
}
.mx-md-40{
	margin-right: 40px;
	margin-left: 40px;
}
.my-md-40{
	margin-top: 40px;
	margin-bottom: 40px;
}
.ma-md-45{
	margin: 45px;
}
.mt-md-45{
	margin-top: 45px;
}
.mr-md-45{
	margin-right: 45px;
}
.mb-md-45{
	margin-bottom: 45px;
}
.ml-md-45{
	margin-left: 45px;
}
.mx-md-45{
	margin-right: 45px;
	margin-left: 45px;
}
.my-md-45{
	margin-top: 45px;
	margin-bottom: 45px;
}
.ma-md-50{
	margin: 50px;
}
.mt-md-50{
	margin-top: 50px;
}
.mr-md-50{
	margin-right: 50px;
}
.mb-md-50{
	margin-bottom: 50px;
}
.ml-md-50{
	margin-left: 50px;
}
.mx-md-50{
	margin-right: 50px;
	margin-left: 50px;
}
.my-md-50{
	margin-top: 50px;
	margin-bottom: 50px;
}
.ma-md-55{
	margin: 55px;
}
.mt-md-55{
	margin-top: 55px;
}
.mr-md-55{
	margin-right: 55px;
}
.mb-md-55{
	margin-bottom: 55px;
}
.ml-md-55{
	margin-left: 55px;
}
.mx-md-55{
	margin-right: 55px;
	margin-left: 55px;
}
.my-md-55{
	margin-top: 55px;
	margin-bottom: 55px;
}
.ma-md-60{
	margin: 60px;
}
.mt-md-60{
	margin-top: 60px;
}
.mr-md-60{
	margin-right: 60px;
}
.mb-md-60{
	margin-bottom: 60px;
}
.ml-md-60{
	margin-left: 60px;
}
.mx-md-60{
	margin-right: 60px;
	margin-left: 60px;
}
.my-md-60{
	margin-top: 60px;
	margin-bottom: 60px;
}
}
@media screen and (min-width: 1200px){
/* large */
.pa-lg-0 {
	padding: 0px;
}
.pt-lg-0 {
	padding-top: 0px;
}
.pr-lg-0{
	padding-right: 0px;
}
.pb-lg-0{
	padding-bottom: 0px;
}
.pl-lg-0{
	padding-left: 0px;
}
.px-lg-0{
	padding-right: 0px;
	padding-left: 0px;
}
.py-lg-0{
	padding-top: 0px;
	padding-bottom: 0px;
}
.pa-lg-5 {
	padding: 5px;
}
.pt-lg-5{
	padding-top: 5px;
}
.pr-lg-5{
	padding-right: 5px;
}
.pb-lg-5{
	padding-bottom: 5px;
}
.pl-lg-5{
	padding-left: 5px;
}
.px-lg-5{
	padding-right: 5px;
	padding-left: 5px;
}
.py-lg-5{
	padding-top: 5px;
	padding-bottom: 5px;
}
.pa-lg-10 {
	padding: 10px;
}
.pt-lg-10{
	padding-top: 10px;
}
.pr-lg-10{
	padding-right: 10px;
}
.pb-lg-10{
	padding-bottom: 10px;
}
.pl-lg-10{
	padding-left: 10px;
}
.px-lg-10{
	padding-right: 10px;
	padding-left: 10px;
}
.py-lg-10{
	padding-top: 10px;
	padding-bottom: 10px;
}
.pa-lg-15 {
	padding: 15px;
}
.pt-lg-15{
	padding-top: 15px;
}
.pr-lg-15{
	padding-right: 15px;
}
.pb-lg-15{
	padding-bottom: 15px;
}
.pl-lg-15{
	padding-left: 15px;
}
.px-lg-15{
	padding-right: 15px;
	padding-left: 15px;
}
.py-lg-15{
	padding-top: 15px;
	padding-bottom: 15px;
}
.pa-lg-20 {
	padding: 20px;
}
.pt-lg-20{
	padding-top: 20px;
}
.pr-lg-20{
	padding-right: 20px;
}
.pb-lg-20{
	padding-bottom: 20px;
}
.pl-lg-20{
	padding-left: 20px;
}
.px-lg-20{
	padding-right: 20px;
	padding-left: 20px;
}
.py-lg-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pa-lg-25 {
	padding: 25px;
}
.pt-lg-25{
	padding-top: 25px;
}
.pr-lg-25{
	padding-right: 25px;
}
.pb-lg-25{
	padding-bottom: 25px;
}
.pl-lg-25{
	padding-left: 25px;
}
.px-lg-25{
	padding-right: 25px;
	padding-left: 25px;
}
.py-lg-25{
	padding-top: 25px;
	padding-bottom: 25px;
}
.pa-lg-30 {
	padding: 30px;
}
.pt-lg-30{
	padding-top: 30px;
}
.pr-lg-30{
	padding-right: 30px;
}
.pb-lg-30{
	padding-bottom: 30px;
}
.pl-lg-30{
	padding-left: 30px;
}
.px-lg-30{
	padding-right: 30px;
	padding-left: 30px;
}
.py-lg-30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pa-lg-35 {
	padding: 35px;
}
.pt-lg-35{
	padding-top: 35px;
}
.pr-lg-35{
	padding-right: 35px;
}
.pb-lg-35{
	padding-bottom: 35px;
}
.pl-lg-35{
	padding-left: 35px;
}
.px-lg-35{
	padding-right: 35px;
	padding-left: 35px;
}
.py-lg-35{
	padding-top: 35px;
	padding-bottom: 35px;
}
.pa-lg-40 {
	padding: 40px;
}
.pt-lg-40{
	padding-top: 40px;
}
.pr-lg-40{
	padding-right: 40px;
}
.pb-lg-40{
	padding-bottom: 40px;
}
.pl-lg-40{
	padding-left: 40px;
}
.px-lg-40{
	padding-right: 40px;
	padding-left: 40px;
}
.py-lg-40{
	padding-top: 40px;
	padding-bottom: 40px;
}
.pa-lg-45 {
	padding: 45px;
}
.pt-lg-45{
	padding-top: 45px;
}
.pr-lg-45{
	padding-right: 45px;
}
.pb-lg-45{
	padding-bottom: 45px;
}
.pl-lg-45{
	padding-left: 45px;
}
.px-lg-45{
	padding-right: 45px;
	padding-left: 45px;
}
.py-lg-45{
	padding-top: 45px;
	padding-bottom: 45px;
}
.pa-lg-50 {
	padding: 50px;
}
.pt-lg-50{
	padding-top: 50px;
}
.pr-lg-50{
	padding-right: 50px;
}
.pb-lg-50{
	padding-bottom: 50px;
}
.pl-lg-50{
	padding-left: 50px;
}
.px-lg-50{
	padding-right: 50px;
	padding-left: 50px;
}
.py-lg-50{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pa-lg-55 {
	padding: 55px;
}
.pt-lg-55{
	padding-top: 55px;
}
.pr-lg-55{
	padding-right: 55px;
}
.pb-lg-55{
	padding-bottom: 55px;
}
.pl-lg-55{
	padding-left: 55px;
}
.px-lg-55{
	padding-right: 55px;
	padding-left: 55px;
}
.py-lg-55{
	padding-top: 55px;
	padding-bottom: 55px;
}
.pa-lg-60 {
	padding: 60px;
}
.pt-lg-60{
	padding-top: 60px;
}
.pr-lg-60{
	padding-right: 60px;
}
.pb-lg-60{
	padding-bottom: 60px;
}
.pl-lg-60{
	padding-left: 60px;
}
.px-lg-60{
	padding-right: 60px;
	padding-left: 60px;
}
.py-lg-60{
	padding-top: 60px;
	padding-bottom: 60px;
}
.ma-lg-0{
	margin: 0px;
}
.mt-lg-0{
	margin-top: 0px;
}
.mr-lg-0{
	margin-right: 0px;
}
.mb-lg-0{
	margin-bottom: 0px;
}
.ml-lg-0{
	margin-left: 0px;
}
.mx-lg-0{
	margin-right: 0px;
	margin-left: 0px;
}
.my-lg-0{
	margin-top: 0px;
	margin-bottom: 0px;
}
.ma-lg-5{
	margin: 5px;
}
.mt-lg-5{
	margin-top: 5px;
}
.mr-lg-5{
	margin-right: 5px;
}
.mb-lg-5{
	margin-bottom: 5px;
}
.ml-lg-5{
	margin-left: 5px;
}
.mx-lg-5{
	margin-right: 5px;
	margin-left: 5px;
}
.my-lg-5{
	margin-top: 5px;
	margin-bottom: 5px;
}
.ma-lg-10{
	margin: 10px;
}
.mt-lg-10{
	margin-top: 10px;
}
.mr-lg-10{
	margin-right: 10px;
}
.mb-lg-10{
	margin-bottom: 10px;
}
.ml-lg-10{
	margin-left: 10px;
}
.mx-lg-10{
	margin-right: 10px;
	margin-left: 10px;
}
.my-lg-10{
	margin-top: 10px;
	margin-bottom: 10px;
}
.ma-lg-15{
	margin: 15px;
}
.mt-lg-15{
	margin-top: 15px;
}
.mr-lg-15{
	margin-right: 15px;
}
.mb-lg-15{
	margin-bottom: 15px;
}
.ml-lg-15{
	margin-left: 15px;
}
.mx-lg-15{
	margin-right: 15px;
	margin-left: 15px;
}
.my-lg-15{
	margin-top: 15px;
	margin-bottom: 15px;
}
.ma-lg-20{
	margin: 20px;
}
.mt-lg-20{
	margin-top: 20px;
}
.mr-lg-20{
	margin-right: 20px;
}
.mb-lg-20{
	margin-bottom: 20px;
}
.ml-lg-20{
	margin-left: 20px;
}
.mx-lg-20{
	margin-right: 20px;
	margin-left: 20px;
}
.my-lg-20{
	margin-top: 20px;
	margin-bottom: 20px;
}
.ma-lg-25{
	margin: 25px;
}
.mt-lg-25{
	margin-top: 25px;
}
.mr-lg-25{
	margin-right: 25px;
}
.mb-lg-25{
	margin-bottom: 25px;
}
.ml-lg-25{
	margin-left: 25px;
}
.mx-lg-25{
	margin-right: 25px;
	margin-left: 25px;
}
.my-lg-25{
	margin-top: 25px;
	margin-bottom: 25px;
}
.ma-lg-30{
	margin: 30px;
}
.mt-lg-30{
	margin-top: 30px;
}
.mr-lg-30{
	margin-right: 30px;
}
.mb-lg-30{
	margin-bottom: 30px;
}
.ml-lg-30{
	margin-left: 30px;
}
.mx-lg-30{
	margin-right: 30px;
	margin-left: 30px;
}
.my-lg-30{
	margin-top: 30px;
	margin-bottom: 30px;
}
.ma-lg-35{
	margin: 35px;
}
.mt-lg-35{
	margin-top: 35px;
}
.mr-lg-35{
	margin-right: 35px;
}
.mb-lg-35{
	margin-bottom: 35px;
}
.ml-lg-35{
	margin-left: 35px;
}
.mx-lg-35{
	margin-right: 35px;
	margin-left: 35px;
}
.my-lg-35{
	margin-top: 35px;
	margin-bottom: 35px;
}
.ma-lg-40{
	margin: 40px;
}
.mt-lg-40{
	margin-top: 40px;
}
.mr-lg-40{
	margin-right: 40px;
}
.mb-lg-40{
	margin-bottom: 40px;
}
.ml-lg-40{
	margin-left: 40px;
}
.mx-lg-40{
	margin-right: 40px;
	margin-left: 40px;
}
.my-lg-40{
	margin-top: 40px;
	margin-bottom: 40px;
}
.ma-lg-45{
	margin: 45px;
}
.mt-lg-45{
	margin-top: 45px;
}
.mr-lg-45{
	margin-right: 45px;
}
.mb-lg-45{
	margin-bottom: 45px;
}
.ml-lg-45{
	margin-left: 45px;
}
.mx-lg-45{
	margin-right: 45px;
	margin-left: 45px;
}
.my-lg-45{
	margin-top: 45px;
	margin-bottom: 45px;
}
.ma-lg-50{
	margin: 50px;
}
.mt-lg-50{
	margin-top: 50px;
}
.mr-lg-50{
	margin-right: 50px;
}
.mb-lg-50{
	margin-bottom: 50px;
}
.ml-lg-50{
	margin-left: 50px;
}
.mx-lg-50{
	margin-right: 50px;
	margin-left: 50px;
}
.my-lg-50{
	margin-top: 50px;
	margin-bottom: 50px;
}
.ma-lg-55{
	margin: 55px;
}
.mt-lg-55{
	margin-top: 55px;
}
.mr-lg-55{
	margin-right: 55px;
}
.mb-lg-55{
	margin-bottom: 55px;
}
.ml-lg-55{
	margin-left: 55px;
}
.mx-lg-55{
	margin-right: 55px;
	margin-left: 55px;
}
.my-lg-55{
	margin-top: 55px;
	margin-bottom: 55px;
}
.ma-lg-60{
	margin: 60px;
}
.mt-lg-60{
	margin-top: 60px;
}
.mr-lg-60{
	margin-right: 60px;
}
.mb-lg-60{
	margin-bottom: 60px;
}
.ml-lg-60{
	margin-left: 60px;
}
.mx-lg-60{
	margin-right: 60px;
	margin-left: 60px;
}
.my-lg-60{
	margin-top: 60px;
	margin-bottom: 60px;
}
}